# MongoDB
MONGODB_URL=mongodb://localhost:27017/grh

# Server
NEST_PORT=3001
FRONTEND_URLS=http://localhost:3000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Log Aggregator
LOG_AGGREGATOR_ENABLED=true
LOG_AGGREGATOR_URL=http://localhost:3000/webhooks/logs
LOG_AGGREGATOR_SECRET=change_me
LOG_AGGREGATOR_APP_NAME=grh-backend
